<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/"> AntojApp </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/productos"> Productos </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/ofertas"> Ofertas </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/tienda"> Tienda </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto"> Contacto </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/mi-cuenta"> Mi Cuenta </a>
        </li>

       

        <li class="nav-item" *ngIf="!usuarioLogueado()">
          <a class="nav-link" routerLink="/login"> Login </a>
        </li>

     

        <li class="nav-item" *ngIf="usuarioLogueado()">
          <a class="nav-link" routerLink="/dashboard"> Dashboard </a>
        </li>

      

        <li class="nav-item" *ngIf="usuarioLogueado()">
          <button class="btn btn-danger ms-2" (click)="cerrarSesion()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
